<button
  id="issue-report"
  class="btn btn-primary issue-report-button"
  {{action "clickButton"}}>
    <i class="fa fa-bug d-icon d-icon-plus"></i>
    <span class="d-button-label">{{siteSettings.gl_bugs_button_label}}</span>
</button>